body{
  font-family: sans-serif;
  margin: 0;
  
}

.menu-list {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

}

header {
    padding: 18px 24px;
    background: #008221;
    color: white;
  
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}

.menu-link{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.06);
    margin-left: 8px;
}

#home{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://i.postimg.cc/PxXp0SgF/Gemini-Generated-Image-9d8ixw9d8ixw9d8i.png'); /* Переконайтесь, що назва файлу правильна */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.hero-text{
    max-width: 500px;
}
